
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.logoPhoto{
    margin: 1rem auto;
    display: block;
    width: 100%;
    border-radius: 2rem;
    border: inset black;
}

.linkPoke{
    text-decoration: none;
    color: white;
}

body{
    background-color: #0A1C55;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%230A1C55' cx='50' cy='0' r='50'/%3E%3Cg fill='%23032660' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23002f6c' cx='50' cy='100' r='50'/%3E%3Cg fill='%23003977' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23004382' cx='50' cy='200' r='50'/%3E%3Cg fill='%23004e8d' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23005897' cx='50' cy='300' r='50'/%3E%3Cg fill='%230063a1' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23006dab' cx='50' cy='400' r='50'/%3E%3Cg fill='%230078b4' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%230083bd' cx='50' cy='500' r='50'/%3E%3Cg fill='%23008ec6' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%230099ce' cx='50' cy='600' r='50'/%3E%3Cg fill='%2300a4d5' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300b0dd' cx='50' cy='700' r='50'/%3E%3Cg fill='%2300bbe3' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300c6ea' cx='50' cy='800' r='50'/%3E%3Cg fill='%2300d2f0' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300ddf5' cx='50' cy='900' r='50'/%3E%3Cg fill='%2300e9fa' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2317F4FF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
}

h1{
    text-align: center;
    color: white;
}

.content{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #0A1C55;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%230A1C55' cx='50' cy='0' r='50'/%3E%3Cg fill='%23032660' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23002f6c' cx='50' cy='100' r='50'/%3E%3Cg fill='%23003977' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23004382' cx='50' cy='200' r='50'/%3E%3Cg fill='%23004e8d' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23005897' cx='50' cy='300' r='50'/%3E%3Cg fill='%230063a1' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23006dab' cx='50' cy='400' r='50'/%3E%3Cg fill='%230078b4' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%230083bd' cx='50' cy='500' r='50'/%3E%3Cg fill='%23008ec6' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%230099ce' cx='50' cy='600' r='50'/%3E%3Cg fill='%2300a4d5' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300b0dd' cx='50' cy='700' r='50'/%3E%3Cg fill='%2300bbe3' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300c6ea' cx='50' cy='800' r='50'/%3E%3Cg fill='%2300d2f0' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300ddf5' cx='50' cy='900' r='50'/%3E%3Cg fill='%2300e9fa' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2317F4FF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagination button {
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
}

@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 425px){
    .logoPhoto {
        max-width: 425px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

#detail_btn{
    color: #000000;
    padding: auto;
    margin: .125rem;
    font-size: .8rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    border: solid;
}